/*******************************TAG SELECTORS*******************************/


body {
    background-color: #f1f1f1;
}

h1 {
    color: #66BFBF;
}

h3 {
    color: #66BFBF;
}


hr {
    border-style: none;
    border-top-style: dotted;
    border-color: lightgrey;
    border-width: 5px;
    width: 8%;

}

img {
    height: 114px;
}

/*******************************CLASS SELECTORS*******************************/

.circular {
    border-radius: 100%;
}

/*******************************ID SELECTORS*******************************/